bcrypt==5.0.0
blinker==1.9.0
boto3==1.42.5
botocore==1.42.5
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
Flask==3.1.2
Flask-Bcrypt==1.0.1
flask-cors==6.0.1
Flask-JWT-Extended==4.7.1
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
MarkupSafe==3.0.3
packaging==25.0
pillow==12.0.0
PyJWT==2.10.1
python-dateutil==2.9.0.post0
reportlab==4.4.5
s3transfer==0.16.0
six==1.17.0
urllib3==2.6.1
Werkzeug==3.1.4